---
import ProductCard from './ProductCard.astro'
---

<div class="flex flex-wrap justify-start gap-5 px-4 pb-4">
  <div class="flex-shrink-0 min-w-[332px] max-w-[332px]">
    <ProductCard />
  </div>
  <div class="flex-shrink-0 min-w-[332px] max-w-[332px]">
    <ProductCard />
  </div>
  <div class="flex-shrink-0 min-w-[332px] max-w-[332px]">
    <ProductCard />
  </div>
  <div class="flex-shrink-0 min-w-[332px] max-w-[332px]">
    <ProductCard />
  </div>
  <div class="flex-shrink-0 min-w-[332px] max-w-[332px]">
    <ProductCard />
  </div>
  <div class="flex-shrink-0 min-w-[332px] max-w-[332px]">
    <ProductCard />
  </div>
  <div class="flex-shrink-0 min-w-[332px] max-w-[332px]">
    <ProductCard />
  </div>
  <div class="flex-shrink-0 min-w-[332px] max-w-[332px]">
    <ProductCard />
  </div>
</div>
