<button
  type="button"
  class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
  aria-expanded="false"
  data-dropdown-toggle="dropdown-user"
>
  <span class="sr-only">Open user menu</span>

  <div
    class="relative w-8 h-8 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600"
  >
    <svg
      class="absolute w-6 h-6 text-gray-400 left-1 top-1"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
        clip-rule="evenodd"
      >
      </path>
    </svg>
  </div>
</button>
